/* Sommaire */
#sommaire{
    color: royalblue;
    /* margin-left: 10px; */
    text-decoration: underline;
}

#sommaire_comp{
    width: 50%;
    /* margin: 0px auto 40px auto; */
    position: sticky;
}

div ul{
    margin: 5%;
    margin-top: 1%;
}

div ul li, div ul li a{
    color: royalblue;
    width: 30%; /* 100% divisé par le nombre d'éléments de menu */
    text-align: left; /*Centre le texte dans les éléments de menu*/
}

div ul li:hover, div ul li a:hover{ /* Lorsque l'on passe notre curseur au-dessus de l'élément celui-ci prend les propriétés définies ci-dessous */
    color: gold;
}

div ul li:active, div ul li a:active{ /*Lorsque l'on click sur l'élément, sa couleur passe à green */
    color: green;
}

/* fin sommaire */

h2{
    text-align: center;
    text-decoration: underline;
    margin: 2%;
}

.global-text{
    text-align: center;
    margin-top: 1%;
}

#synthese {
    text-align: center;
    margin-bottom: 1%;
}

i {
    font-size: 80%;
}

#notification {
    margin-right: 2%;
}

#entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img_comp_ppes, #img_comp_stage {
    height: 95%;
    width: 95%;
}

#comp, #ppes, #stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* #ppes, #stage {
    display: flex;
    flex-direction: column;
    align-items: center;
} */