.presentation_text {
    text-align: center;
    margin: 1%;
}

.div_info {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid darkgray;
}

#presentation {
    background-color: dodgerblue;
}

h2, h4{
    text-align: center;
    text-decoration: underline;
    margin: 1%;
}

ul {
    list-style: none;
    text-align: center;
}

#experiences {
    margin-bottom: 1%;
}

#parcour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: goldenrod;
}

#competences_dvt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: indigo;
}

.langsp, .langs {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid darkgray;
}

.drap {
    /* margin: 1%; */
    height: 150px;
    width: 225px;
}

.logo {
    /* margin: 1%; */
    height: 100px;
    width: 100px;
}

#languages, #langues {
    display: flex;
    flex-direction: row;
    justify-content: center;
}