h3{
    text-align: center;
    text-decoration: underline;
    margin: 2%;
}

.global-text{
    text-align: center;
    margin-bottom: 4%;
}

#sommaire_stage{
    width: 100%;
    /* margin: 0px auto 40px auto; */
    position: sticky;
}

/* CSS pour la partie présentation de l'entreprise*/
#presentation_unista{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#unista-locaux{
    height: 40%;
    width: 40%;
}
/* fin */
/* CSS pour la partie PHP*/

#compPHP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPHP{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#first_imgPHP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartonVerif1{
    height: 50%;
    width: 50%;
}

#remplissageBDD{
    width: 100%;
}

.particular-text{
    margin: 10px;
    text-align: center;
}

/* fin */
/* CSS pour la partie SVG */

#imgSVG{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pos-carton{
    height: 30%;
    width: 30%;
}

#etiquettageEx{
    height: 80%;
    width: 80%;
}

/* fin */

/* CSS pour la partie JS*/

#compJS{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgJS{
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_imgJS, #snd_imgJS{
    display: flex;
    justify-content: center;
}

.palettisation{
    height: 95%;
    width: 95%;
}

/* fin */